.container {
    display: grid;
    grid-template-columns: 10% 20% auto 20% 10%;
    grid-template-rows: [row1-start] 25% [row1-end] 50px [third-line] auto [last-line];
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.title {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#new_text {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    text-align: center;
}

#clk_me {
    grid-column-start:3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;

}
